#judul {
	text-align: center;
	color: slateblue;
}
.hijau {
	color: green
}
p {border-style: ridge;}
p {
  border: 5px mediumseagreen;
}
p {
  margin: 25px 50px 75px 100px;
}
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
